.titlebar > .title {
	-webkit-app-region: drag;
}

.titlebar span {
	text-overflow: ellipsis;
}

.titlebar-btn {
	background-color: transparent;
	color: #ededed;
	font-size: 18px;
	padding: 0 8.5px;
}

.titleicon {
	fill: #e0e0e0;
	width: 10px;
	height: 10px;
}

.logo {
	fill: #808080;
	width: 52px;
	height: auto;
}

.titlebar-btn:hover {
	background-color: #9199a849;
}

.closeBtn:hover {
	background-color: #ff2e2e;
}

#app-mount {
	box-sizing: border-box;
}
