name: Publish to Winget

on:
  release:
    types: [released]

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: vedantmgoyal2009/winget-releaser@v2
        with:
          identifier: aiko-chan-ai.DiscordBotClient
          version: ${{ github.event.release.name }}
          token: ${{ secrets.WINGET_TOKEN }}